
<div class="container">
	<div class="row my-3">
		<div class="col-12">
			<table class="table table_list">
				<thead>
					<tr>
						<th scope="col">ชื่อ</th>
						<th scope="col">วันที่นำเข้า</th>
					</tr>
				</thead>
				<tbody>
					@if (formModel == null)
					{
						<tr class="text-center align-middle">
							<td colspan="100">
								<Spinner Class="my-2" Type="SpinnerType.Dots" Color="SpinnerColor.Secondary" />
							</td>
						</tr>
					}
					else if (formModel.Count == 0)
					{
						<tr class="text-center align-middle">
							<td colspan="100">
								<em>ไม่พบข้อมูล</em>
							</td>
						</tr>
					}
					else
					{
						foreach (var item in formModel)
						{
							<tr>
								<td>
									<a class="text-decoration-none" href="@item.Url" target="_blank">
										<i class="fa-regular fa-file-lines fa-xl me-2"></i>
										@item.Name
									</a>
								</td>
								<td>
									@GeneralUtils.DateToThString(item.CreateDate)
								</td>
							</tr>
						}
					}
				</tbody>
			</table>
		</div>
	</div>
</div>

@code {
	[Parameter]
	public List<Sale_Document_FileCustom>? formModel { get; set; }
}
