
<style>
	.track_tbl td.track_dot {
		width: 50px;
		position: relative;
		padding: 0;
		text-align: center;
	}

		.track_tbl td.track_dot:after {
			content: "\f007";
			font: var(--fa-font-solid);
			/* font-family: Font Awesome 6 Free; */
			position: absolute;
			margin-left: -5px;
			top: 11px;
		}

		.track_tbl td.track_dot span.track_line {
			background: #000;
			width: 3px;
			min-height: 50px;
			position: absolute;
			height: 101%;
		}

	.track_tbl tbody tr:first-child td.track_dot span.track_line {
		top: 30px;
		min-height: 25px;
	}

	.track_tbl tbody tr:last-child td.track_dot span.track_line {
		top: 0;
		min-height: 25px;
		height: 10%;
	}
</style>


@if (formModel != null)
{
	<div class="row my-3">
		<div class="col-12">
			<div class="row">
				<div class="col-12 col-xl-6">
					<div class="row">
						<label class="col-sm-4 col-form-label text-lg-end fw-bold text-decoration-underline">ข้อมูลการติดต่อ</label>
						<div class="col-sm-7"></div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12 col-xl-6">
					<table class="table table-bordered track_tbl">
						<thead>
							<tr>
								<th></th>
								<th>S No</th>
							</tr>
						</thead>
						<tbody>
							<tr class="active">
								<td class="track_dot">
									<span class="track_line"></span>
								</td>
								<td>01</td>
							</tr>
							<tr>
								<td class="track_dot">
									<span class="track_line"></span>
								</td>
								<td>01</td>
							</tr>
							<tr>
								<td class="track_dot">
									<span class="track_line"></span>
								</td>
								<td>01</td>
							</tr>
							<tr>
								<td class="track_dot">
									<span class="track_line"></span>
								</td>
								<td>01</td>
							</tr>
							<tr>
								<td class="track_dot">
									<span class="track_line"></span>
								</td>
								<td>01</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
}
else
{
	<div class="d-flex align-items-center justify-content-center mh_10r">
		<p class="my-3 text-black-50">-ไม่พบข้อมูล-</p>
	</div>
}

@code {
	[Parameter]
	public List<Sale_Contact_HistoryCustom>? formModel { get; set; }

}
