@page "/approveloan/view/{id:guid}"

<PageTitle>อนุมัติคำขอสินเชื่อ</PageTitle>

<MessageError errorMessage="@_errorMessage" />

@if (_permission.IsView && IsView)
{
	<div class="container-fluid">
		<div class="row">
			<div class="col-12 my-2">
				<div class="box_content">
					<div class="d-flex flex-row align-items-center mb-3 border-bottom">
						<div class="p-2"><img src="/image/icon/book.png" width="55" /></div>
						<div class="p-2">
							<p class="back_topic">อนุมัติคำขอสินเชื่อ > จัดการอนุมัติ</p>
						</div>
					</div>
					<div class="row mt-3">
						<div class="col-12 tabs_elm">
							<Tabs EnableFadeEffect="true" NavStyle="NavStyle.Pills">
								<Tab Title="ข้อมูลลูกค้า" IsActive="true">
									<Content>
										<PartialCustomerInfo formModel="formModel" />
									</Content>
								</Tab>
								<Tab Title="ข้อมูลผู้ติดต่อ" OnClick="ShowTabContactInfo">
									<Content>
										<PartialContactInfo formModel="formModel.Sale_Contact_Infos" />
									</Content>
								</Tab>
								<Tab Title="เอกสารตาม checklist" OnClick="ShowTabDocument">
									<Content>
										<PartialDocument formModel="formModel" />
									</Content>
								</Tab>
								<Tab Title="ประวัติการติดต่อ" OnClick="ShowTabContactHistory">
									<Content>
										<PartialContactHistory formModel="formModel.Sale_Contact_Histories" />
									</Content>
								</Tab>
								<Tab Title="คู่ค้า" OnClick="ShowTabPartneInfo">
									<Content>
										<PartialPartnerInfo	 formModel="formModel.Sale_Partners" />
									</Content>
								</Tab>
							</Tabs>
							<div class="my-4 text-center">
								<div class="d-flex bd-highlight align-items-center justify-content-center">
									<div class="p-2 bd-highlight">
										<Button @onclick="InitShowNotApprove" Color="ButtonColor.Secondary" Type="ButtonType.Button" Disabled="@isLoading" Class="mw_6r">
											ไม่อนุมัติ
										</Button>
									</div>
									<div class="p-2 bd-highlight">
										<Button @onclick="InitShowConfirmApprove" Color="ButtonColor.Primary" Type="ButtonType.Button" Disabled="@isLoading" Class="mw_6r">
											@if (isLoading)
											{
												<Spinner Color="SpinnerColor.Light" Size="SpinnerSize.Small" />
											}
											อนุมัติ
										</Button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<ModalConfirm @ref="modalConfirmApprove" CallbackConfirm="ConfirmApprove" CallbackModalHidden="OnModalHidden" _errorMessage="@_errorMessage" />
	<ModalNotApprove @ref="modalNotApprove" CallbackConfirm="NotApproveModal" CallbackModalHidden="OnModalHidden" />
}
else
{
	<NotPermissionPage />
}



