@page "/setting/pre/calculated/form/{id:guid}"

<PageTitle>ตัวแปรคำนวณ</PageTitle>

@if (_permission.IsView)
{
	<div class="container-fluid">
		<div class="row">
			<div class="col-12 my-2">
				<div class="box_content">
					<div class="d-flex flex-row align-items-center mb-3 border-bottom">
						<div class="p-2"><img src="/image/icon/setting.png" width="45" /></div>
						<div class="p-2">
							<p class="back_topic">เครื่องมือ Pre-Approve > ตัวแปรคำนวณ</p>
						</div>
					</div>
					<div class="row mt-3 mh_40r">
						<div class="col-12 tabs_elm">
							<Tabs EnableFadeEffect="true" NavStyle="NavStyle.Pills">
								<Tab Title="ข้อมูลการขอสินเชื่อ" OnClick="ShowTabInfo" IsActive="true">
									<Content>
										<Partial_Cal_Info pre_CalId="id" IsShowTab="IsShowTabInfo" />
									</Content>
								</Tab>
								<Tab Title="คุณสมบัติมารตฐาน" OnClick="ShowTabStan">
									<Content>
										<Partial_Cal_Fetu_Stan pre_CalId="id" IsShowTab="IsShowTabStan" />
									</Content>
								</Tab>
								<Tab Title="คุณสมบัติตามประเภทผู้ขอ" OnClick="ShowTabAppLoan">
									<Content>
										<Partial_Cal_Fetu_AppLoan pre_CalId="id" IsShowTab="IsShowTabAppLoan" />
									</Content>
								</Tab>
								<Tab Title="คุณสมบัติตามประเภทธุรกิจ" OnClick="ShowTabBusType">
									<Content>
										<Partial_Cal_Fetu_BusType pre_CalId="id" IsShowTab="IsShowTabBusType" />
									</Content>
								</Tab>
								<Tab Title="น้ำหนักของแต่ละปัจจัย" OnClick="ShowTabWeightFactor">
									<Content>
										<Partial_Cal_Weight_Factor pre_CalId="id" IsShowTab="IsShowTabWeightFactor" />
									</Content>
								</Tab>
							</Tabs>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
}
else
{
	<NotPermissionPage />
}




