<div class="px-0">
	<div class="row mt-2">
		<div class="col-12">
			<div class="bg-header text-white rounded-1 p-2">
				<h6 class="px-2">รายการข้อมูล</h6>
			</div>
		</div>
	</div>
	<div class="row mt-2">
		<div class="col-12">
			<div class="bg-header text-white rounded-1 p-2">
				<h6 class="px-2">คะแนนในการคำนวณ</h6>
			</div>
		</div>
	</div>
</div>

@code {
	[Parameter]
	public Guid pre_CalId { get; set; }

	[Parameter]
	public bool IsShowTab { get; set; }


}
