@page "/dashboard/avgdealbranch"

<PageTitle>รายงานดีลโดยเฉลี่ยต่อสาขา</PageTitle>

<MessageError errorMessage="@_errorMessage" />

@if (_permission.IsView)
{
	<div class="container-fluid">
		<div class="row">
			<div class="col-12 my-2">
				<div class="box_content">
					<div class="d-flex flex-row align-items-center mb-3 border-bottom">
						<div class="p-2">
							<a href="/dashboard"><img src="/image/icon/circle-left-x100.png" width="40" /></a>
						</div>
						<div class="p-2">
							<p class="back_topic">รายงานดีลโดยเฉลี่ยต่อสาขา</p>
						</div>
					</div>
					<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-5 row-cols-xxl-6 my-4 filter_s text-end">						
						<div class="col mb-2 mt-3">
							<div class="d-flex flex-row">
								<div class="pe-2">
									<button @onclick="ExportExcel" type="button" class="btn btn-success text-white mw_7r w-100">
										<i class="fa-regular fa-file-excel"></i> ส่งออก
									</button>
								</div>
							</div>
						</div>
					</div>
					<div class="row mt-3">
						<div class="col-12 col-xl"></div>
						<div class="col-12 col-xl-7">
							<div class="table-responsive border-top">
								<table class="table table_list">
									<thead>
										<tr>
											<th class="text-center">สาขา</th>
											<th class="text-center">จำนวนดีล</th>
										</tr>
									</thead>
									<tbody>
										@if (ItemsGroup == null)
										{
											<tr class="text-center align-middle">
												<td colspan="100">
													<i class="fa-solid fa-circle-notch fa-spin text-black-50 fa-xl my-2"></i>
												</td>
											</tr>
										}
										else if (ItemsGroup.Count == 0)
										{
											<tr class="text-center align-middle">
												<td colspan="100">
													<em>ไม่พบข้อมูล</em>
												</td>
											</tr>
										}
										else
										{
											foreach (var item in ItemsGroup)
											{
												<tr>
													<td class="text-start">@item.Name</td>
													<td class="text-center">@item.Value.ToString("N0")</td>
												</tr>
											}
										}
									</tbody>
								</table>
							</div>
						</div>
						<div class="col-12 col-xl"></div>
					</div>
					<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-5 row-cols-xxl-6 my-4 filter_s d-none">
						<div class="col mb-2">
							<label class="form-label">ประเภทธุรกิจ</label>
							<select class="selectpicker" data-style="select_btn_set" data-live-search="true">
								<option selected>ทั้งหมด</option>
							</select>
						</div>
						<div class="col mb-2">
							<label class="form-label">กิจการสาขาภาค</label>
							<select class="selectpicker" data-style="select_btn_set" data-live-search="true">
								<option selected>ทั้งหมด</option>
							</select>
						</div>
						<div class="col mb-2">
							<label class="form-label">สาขา</label>
							<select class="selectpicker" data-style="select_btn_set" data-live-search="true">
								<option selected>ทั้งหมด</option>
							</select>
						</div>
						<div class="col mb-2">
							<label class="form-label">จังหวัด</label>
							<select class="selectpicker" data-style="select_btn_set" data-live-search="true">
								<option selected>ทั้งหมด</option>
							</select>
						</div>
						<div class="col mb-2">
							<label class="form-label">สถานะ</label>
							<select class="selectpicker" data-style="select_btn_set" data-live-search="true">
								<option selected>ทั้งหมด</option>
							</select>
						</div>
						<div class="col mb-2 mt-3">
							<div class="d-flex flex-row">
								<div class="pe-3">
									<button @onclick="Search" type="button" class="btn btn-primary text-white mw_7r w-100">
										<i class="fa fa-search fa-xs"></i> ค้นหา
									</button>
								</div>
								<div class="pe-2">
									<button @onclick="ExportExcel" type="button" class="btn btn-success text-white mw_7r w-100">
										<i class="fa-regular fa-file-excel"></i> ส่งออก
									</button>
								</div>
							</div>
						</div>
					</div>
					<div class="row mt-3 filter_s d-none">
						<div class="col-12">
							<div class="table-responsive border-top">
								<table class="table table_list">
									<thead>
										<tr>
											<th class="text-center">ลำดับที่</th>
											<th class="text-center">ชื่อลูกค้า</th>
											<th class="text-center">ผู้ติดต่อ</th>
											<th class="text-center">ห่วงโซ่</th>
											<th class="text-center">ประเภทธุรกิจ</th>
											<th class="text-center">สาขาภาค</th>
											<th class="text-center">จัดหวัด</th>
											<th class="text-center">ผู้ดูแล</th>
											<th class="text-center">สถานะ</th>
										</tr>
									</thead>
									<tbody>
										@for (int i = 1; i < 6; i++)
										{
											<tr>
												<td class="text-center">@(i)</td>
												<td class="text-center">บริษัท ทดสอบ จำกัด</td>
												<td class="">นายติดต่อ 01</td>
												<td class="">ห่วงโซ่01</td>
												<td class="">ประเภทธุรกิจ01</td>
												<td class="text-center">ภาคกลางตอนบน</td>
												<td class="text-center">ปทุมธานี</td>
												<td class="">ยินดี ทดสอบระบบ</td>
												<td class="text-center">
													สำเร็จ
												</td>
											</tr>
										}
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
}
else
{
	<NotPermissionPage />
}






