@page "/dashboard/avgtimeclosesale"

<PageTitle>ระยะเวลาเฉลี่ยที่ใช้ในการปิดการขาย</PageTitle>

<MessageError errorMessage="@_errorMessage" />

@if (_permission.IsView)
{
	<div class="container-fluid">
		<div class="row">
			<div class="col-12 my-2">
				<div class="box_content">
					<div class="d-flex flex-row align-items-center mb-3 border-bottom">
						<div class="p-2">
							<a href="/dashboard"><img src="/image/icon/circle-left-x100.png" width="40" /></a>
						</div>
						<div class="p-2">
							<p class="back_topic">รายงาน <span class="back_topic_active">ระยะเวลาเฉลี่ยที่ใช้ในการปิดการขาย</span></p>
						</div>
					</div>
					<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-5 row-cols-xxl-auto mt-3 mb-1 filter_s">
						<div class="col mb-2">
							<label class="form-label">วันที่เริ่มติดต่อ</label>
							<select class="selectpicker" data-style="select_btn_set" data-live-search="true">
								<option selected>ทั้งหมด</option>
							</select>
						</div>
						<div class="col mb-2">
							<label class="form-label">ชื่อลูกค้า</label>
							<select class="selectpicker" data-style="select_btn_set" data-live-search="true">
								<option selected>ทั้งหมด</option>
							</select>
						</div>
						<div class="col mb-2">
							<label class="form-label">ชื่อผู้ติดต่อ</label>
							<select class="selectpicker" data-style="select_btn_set" data-live-search="true">
								<option selected>ทั้งหมด</option>
							</select>
						</div>
						<div class="col mb-2">
							<label class="form-label">ชื่อผู้รับผิดชอบ</label>
							<select class="selectpicker" data-style="select_btn_set" data-live-search="true">
								<option selected>ทั้งหมด</option>
							</select>
						</div>
						<div class="col mb-2 mt-3">
							<button type="button" class="btn btn-primary text-white mw_7r w-100">
								<i class="fa fa-search fa-xs"></i> ค้นหา
							</button>
						</div>
					</div>
					<div class="row mt-3">
						<div class="col-12">
							<div class="table-responsive border-top">
								<table class="table table_list">
									<thead>
										<tr>
											<th class="text-center">วันที่เริ่มติดต่อ</th>
											<th class="text-center">ชื่อลูกค้า</th>
											<th class="text-center">ผู้ติดต่อ</th>
											<th class="text-center">รอการติดต่อ (วัน)</th>
											<th class="text-center">เข้าพบ (วัน)</th>
											<th class="text-center">พิจารณาเอกสาร (วัน)</th>
											<th class="text-center">ระยะเวลารวม (วัน)</th>
											<th class="text-center">ผู้รับผิดชอบ</th>
										</tr>
									</thead>
									<tbody>
										@for (int i = 1; i < 6; i++)
										{
											<tr>
												<td class="text-center">0@(i)/06/65</td>
												<td class="">บริษัท ทดสอบ จำกัด</td>
												<td class="text-center">ชูใจ โชคดี</td>
												<td class="text-center">2</td>
												<td class="text-center">3</td>
												<td class="text-center">4</td>
												<td class="text-center">5</td>
												<td class="text-center">วีระ หล่อสุด</td>
											</tr>
										}
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div>
						<PaginationMockup></PaginationMockup>
					</div>
				</div>
			</div>
		</div>
	</div>
}
else
{
	<NotPermissionPage />
}

