
@page "/dashboard/notachievedtarget"

<PageTitle>พนักงานที่ไม่บรรลุเป้าหมาย</PageTitle>

<MessageError errorMessage="@_errorMessage" />

@if (_permission.IsView)
{
	<div class="container-fluid">
		<div class="row">
			<div class="col-12 my-2">
				<div class="box_content">
					<div class="d-flex flex-row align-items-center mb-3 border-bottom">
						<div class="p-2">
							<a href="/dashboard"><img src="/image/icon/circle-left-x100.png" width="40" /></a>
						</div>
						<div class="p-2">
							<p class="back_topic">รายงาน <span class="back_topic_active">พนักงานที่ไม่บรรลุเป้าหมาย</span></p>
						</div>
					</div>
					<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-5 row-cols-xxl-auto mt-3 mb-1 filter_s">
						<div class="col mb-2">
							<label class="form-label">รหัสพนักงาน</label>
							<div class="input-group mw_10r">
								<input class="form-control" type="search" placeholder="">
								<span class="input-group-append ms-0">
									<button class="btn rounded-start-0 border border-start-0" type="button">
										<i class="fa fa-search"></i>
									</button>
								</span>
							</div>
						</div>
						<div class="col mb-2">
							<label class="form-label">ชื่อ-สกุล</label>
							<div class="input-group mw_10r">
								<input class="form-control" type="search" placeholder="">
								<span class="input-group-append ms-0">
									<button class="btn rounded-start-0 border border-start-0" type="button">
										<i class="fa fa-search"></i>
									</button>
								</span>
							</div>
						</div>
						<div class="col mb-2">
							<label class="form-label">กิจการสาขาภาค</label>
							<select class="selectpicker" data-style="select_btn_set" data-live-search="true">
								<option selected>ทั้งหมด</option>
							</select>
						</div>
						<div class="col mb-2">
							<label class="form-label">ศูนย์สาขา</label>
							<select class="selectpicker" data-style="select_btn_set" data-live-search="true">
								<option selected>ทั้งหมด</option>
							</select>
						</div>
						<div class="col mb-2">
							<label class="form-label">เป้ายอดขาย</label>
							<select class="selectpicker" data-style="select_btn_set" data-live-search="true">
								<option selected>ทั้งหมด</option>
							</select>
						</div>
						<div class="col mb-2">
							<label class="form-label">การบรรลุเป้าหมาย</label>
							<select class="selectpicker" data-style="select_btn_set" data-live-search="true">
								<option selected>ทั้งหมด</option>
							</select>
						</div>
						<div class="col mb-2 mt-3">
							<button type="button" class="btn btn-primary text-white mw_7r w-100">
								<i class="fa fa-search fa-xs"></i> ค้นหา
							</button>
						</div>
					</div>
					<div class="row mt-3">
						<div class="col-12">
							<div class="table-responsive border-top">
								<table class="table table_list">
									<thead>
										<tr>
											<th class="text-center">ลำดับที่</th>
											<th class="text-center">รหัสพนักงาน</th>
											<th class="text-center">ชื่อ-สกุล</th>
											<th class="text-center">กิจการสาขาภาค</th>
											<th class="text-center">ศูนย์สาขา</th>
											<th class="text-center">วันที่ส่งกลับ</th>
											<th class="text-center">ผู้รับผิดชอบ</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td class="text-center">1</td>
											<td class="">501000</td>
											<td class="text-center">ทดสอบ ระบบ</td>
											<td class="text-center">ภาคกลางตอนล่าง</td>
											<td class="text-center">100,000</td>
											<td class="text-center text-danger">80,000</td>
											<td class="text-center text-danger">ยังไม่สำเร็จ</td>
										</tr>
										<tr>
											<td class="text-center">2</td>
											<td class="">502000</td>
											<td class="text-center">ทดสอบ ระบบ</td>
											<td class="text-center">ภาคกลางตอนล่าง</td>
											<td class="text-center">100,000</td>
											<td class="text-center">120,000</td>
											<td class="text-center">สำเร็จ</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div>
						<PaginationMockup></PaginationMockup>
					</div>
				</div>
			</div>
		</div>
	</div>
}
else
{
	<NotPermissionPage />
}


