@page "/dashboard/numcustypebusiness"

<PageTitle>รายงานจำนวนลูกค้าตามประเภทธุรกิจ</PageTitle>

<MessageError errorMessage="@_errorMessage" />

@if (_permission.IsView)
{
	<div class="container-fluid">
		<div class="row">
			<div class="col-12 my-2">
				<div class="box_content">
					<div class="d-flex flex-row align-items-center mb-3 border-bottom">
						<div class="p-2">
							<a href="/dashboard"><img src="/image/icon/circle-left-x100.png" width="40" /></a>
						</div>
						<div class="p-2">
							<p class="back_topic">รายงานจำนวนลูกค้าตามประเภทธุรกิจ</p>
						</div>
					</div>
					<div class="row my-4 filter_s">
						<div class="col-12">
							<div class="d-flex flex-row-reverse">
								<div class="pe-2">
									<button @onclick="ExportExcel" type="button" class="btn btn-success text-white mw_6r w-100">
										<i class="fa-regular fa-file-excel"></i> ส่งออก
									</button>
								</div>
							</div>
						</div>
					</div>
					<div class="row mt-3">
						<div class="col-12 col-xl"></div>
						<div class="col-12 col-xl-7">
							<div class="table-responsive border-top">
								<table class="table table_list">
									<thead>
										<tr>
											<th class="text-center">ประเภทธุรกิจ</th>
											<th class="text-center">จำนวนดีล</th>
										</tr>
									</thead>
									<tbody>
										@if (Items == null)
										{
											<tr class="text-center align-middle">
												<td colspan="100">
													<i class="fa-solid fa-circle-notch fa-spin text-black-50 fa-xl my-2"></i>
												</td>
											</tr>
										}
										else if (Items.Count == 0)
										{
											<tr class="text-center align-middle">
												<td colspan="100">
													<em>ไม่พบข้อมูล</em>
												</td>
											</tr>
										}
										else
										{
											foreach (var item in Items)
											{
												<tr>
													<td class="text-center">@item.Name</td>
													<td class="text-center">@item.Value</td>
												</tr>
											}
										}
									</tbody>
								</table>
							</div>
						</div>
						<div class="col-12 col-xl"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
}
else
{
	<NotPermissionPage />
}




