
<Modal @ref="modalSuccessful"
	   Title=""
	   IsVerticallyCentered="true"
	   OnHidden="OnModalHidden"
	   HeaderCssClass="headermodal_default">
	<BodyTemplate>
		<div class="row mb-4 text-center">
			@((MarkupString)(Icon ?? String.Empty))
		</div>
		<div class="row mb-4 text-center">
			<h4 class="fw-bold">@((MarkupString)(Content ?? String.Empty))</h4>
		</div>
		<div class="row my-3 text-center">
			<div class="d-flex justify-content-evenly align-items-center">
				<div class="p-2">
					<Button Class="mw_6r" Color="ButtonColor.Primary" @onclick="OnHide">เสร็จสิ้น</Button>
				</div>
			</div>
		</div>
	</BodyTemplate>
</Modal>

@code {
	public string? Id { get; set; }
	public string? Icon { get; set; } = "<i class=\"fa-solid fa-circle-check fs_5r text-primary\"></i>";
	public string? Content { get; set; }

	[Parameter]
	public EventCallback CallbackModalHidden { get; set; }

	protected Modal modalSuccessful = default!;
	public async Task OnShow(string? id, string? txt, string? icon = null)
	{
		Id = id;
		Content = txt;
		if (icon != null)
		{
			Icon = icon;
		}
		await modalSuccessful.ShowAsync();
	}

	public async Task OnHide()
	{
		await modalSuccessful.HideAsync();
	}

	private async Task OnModalHidden()
	{
		await CallbackModalHidden.InvokeAsync();
	}

}
