

<Modal @ref="modalConfirm"
	   Title=""
	   IsVerticallyCentered="true"
	   OnHidden="OnModalHidden"
	   HeaderCssClass="headermodal_default">
	<BodyTemplate>
		<div class="row mb-4 text-center">
			<div class="col-12">
				@((MarkupString)(Icon ?? String.Empty))
			</div>
		</div>
		<div class="row mb-4 text-center">
			<h4 class="fw-bold">@((MarkupString)(Content ?? String.Empty))</h4>
		</div>
		<div class="row mb-4 text-center mx-3 d-flex align-items-center">
			<div class="col-3">
				ระบุเหตุผล
			</div>
			<div class="col-9">
				<textarea @bind=NoteTxt class="form-control" rows="3"></textarea>
			</div>
		</div>
		@if (!String.IsNullOrEmpty(_errorMessage))
		{
			<MessageError errorMessage="@_errorMessage" />
		}
		<div class="row my-3 text-center">
			<div class="d-flex justify-content-evenly align-items-center">
				<div class="p-2">
					<Button Class="mw_6r" Color="ButtonColor.Secondary" @onclick="OnHideConfirm">กลับ</Button>
				</div>
				<div class="p-2">
					<Button Class="mw_6r" Color="ButtonColor.Primary" @onclick="Confirm">ยืนยัน</Button>
				</div>
			</div>
		</div>
	</BodyTemplate>
</Modal>

@code {
	public string? Id { get; set; }
	public string? Icon { get; set; } = "<img src=\"/image/icon/notapprove.png\" width=\"65\" />";
	public string? Content { get; set; }
	public int? CountDown { get; set; }
	public string? NoteTxt { get; set; }

	[Parameter]
	public EventCallback<SelectModel?> CallbackConfirm { get; set; }

	[Parameter]
	public string? _errorMessage { get; set; }

	[Parameter]
	public EventCallback CallbackModalHidden { get; set; }

	protected Modal modalConfirm = default!;
	public async Task OnShowConfirm(string? id, string? txt, string? icon = null)
	{
		Id = id;
		Content = txt;
		if (icon != null)
		{
			Icon = icon;
		}
		await modalConfirm.ShowAsync();
	}

	public async Task OnHideConfirm()
	{
		await modalConfirm.HideAsync();
	}

	public async Task Confirm()
	{
		await CallbackConfirm.InvokeAsync(new()
			{
				ID = Id,
				Name = NoteTxt
			});
	}

	private async Task OnModalHidden()
	{
		await CallbackModalHidden.InvokeAsync();
	}
}
