@using Microsoft.Extensions.Options;
@using SalesPipeline.Utils;

@model SalesPipeline.Utils.Resources.Authorizes.Users.UserCustom
@inject IOptions<AppSettings> _appSet


<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
</head>
<body>
	<div>
		<img src="https://img2.pic.in.th/pic/Group-2127.png" width="99%">
	</div>
	<div>

		<div style="font-size: 13px; padding: 20px; font-family: Arial, Helvetica; color: #303030;">
			<div>
				<p>
					<b>เรียน ผู้ที่เกี่ยวข้อง</b>
				</p>
				<p style="margin-left:15px;">วันที่เริ่มใช้งาน : 01 พฤศจิกายน 2566 16:09 น. </p>
				<p style="margin-left:15px;">รหัสผ่าน : I14bpz2v</p>
			</div>
			<br />
			<br />
			<div>
				<div><p><b>รหัสผ่านนี้เป็นใช้ครั้งแรกเท่านั้น สามารถเปลี่ยนรหัสผ่านได้ที่ี่</b></p></div>
			</div>
			<br />
			<br />
			<br />
			<div style="text-align:center;">
				@{
					var txtButton = "Change Password";
					var urlFull = $"{_appSet.Value.baseUriWeb}/changepassword";
				}

				<a href="@urlFull" target="_blank"
				   style="font-size: 14px; background-color: #4CB6DB; line-height: 1.0; font-weight: 400; height: 38px; text-decoration: none; padding: 0.575rem 3.85rem; border-radius: 3px; color: #fff;">
					@txtButton
				</a>
			</div>

			<br />
			<br />
			<hr />
		</div>

	</div>
	<div style="font-size: 12px; margin: auto; padding: 20px; text-align: right; background-color: #222222; ">
		<table style="color: #ffffff;" width="100%" cellspacing="0" cellpadding="0" border="0">
			<tbody>
				<tr>
					<td style="padding: 0px 15px 0 0; border-right: 0px; " width="95%">
						<b style="font-size: 13px;">ขอแสดงความนับถือ</b> <br />
						Support ธ.ก.ส. <br />
						ธนาคารเพื่อการเกษตรและสหกรณ์การเกษตร <br />
					</td>
					<td width="5%">
						<img src="https://psp-uat.thaihealth.or.th/image/logo/sso-brand-or.png" width="100">
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>