<section class="h-50 gradient-form mb-4">
	<div class="container-fluid py-2">
		<div class="row d-flex justify-content-between align-items-center h-50">
			<div class="col-xl-12 text-center h2 mt-5 text-danger">
				Access Denied
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
			</div>
		</div>
	</div>
</section>