
@page "/setting/pre/chancepass"

<PageTitle>โอกาสขอสินเชื่อผ่าน</PageTitle>

@if (_permission.IsView)
{
	<div class="container-fluid">
		<div class="row">
			<div class="col-12 my-2">
				<div class="box_content">
					<div class="d-flex flex-row align-items-center mb-3 border-bottom">
						<div class="p-2"><img src="/image/icon/setting.png" width="45" /></div>
						<div class="p-2">
							<p class="back_topic">เครื่องมือ Pre-Approve > โอกาสขอสินเชื่อผ่าน</p>
						</div>
					</div>
					<div>
						<ComingSoon />
					</div>
				</div>
			</div>
		</div>
	</div>
}
else
{
	<NotPermissionPage />
}

