.box-text_main {
	padding: 0.6rem 0.75rem;
	border-radius: 0.675rem;
	font-size: .85rem;
	/*font-family: 'prompt-regular';
	font-family: 'mitr-regular';
	font-family: 'prompt-medium';*/
	font-family: 'prompt-semibold';
	min-height: 6rem;
}
	.box-text_main h3 {
		margin-bottom: 0 !important;
	}

	.box-text_main .box-text {
		display: flex;
		align-items: center;
		flex-direction: column !important;
		min-height: 4.5rem;
	}

		.box-text_main .box-text h6,
		.box-text_main .box-text h5,
		.box-text_main .box-text h4,
		.box-text_main .box-text h3,
		.box-text_main .box-text h2,
		.box-text_main .box-text h1 {
			font-family: 'prompt-extrabold';
		}

.box-1 {
	background-color: #043A66;
	color: #fff;
}

.box-2 {
	background-color: #065699;
	color: #fff;
}
.box-3 {
	background-color: #1378D5;
	color: #fff;
}
.box-4 {
	background-color: #B9C9FF;
	color: #001f5f;
}
.box-5 {
	background-color: #CCE8FF;
	color: #001f5f;
}
.box-6 {
	background-color: #CCD1EC;
	color: #001f5f;
}
