
@charset "UTF-8";

svg {
	max-width: 100%
}

.mapbox svg path {
	display: inline;
	stroke-width: 0.8px;
	stroke: #ffffff;
	opacity: 1;
	fill: #d7d7d7;
	stroke-linejoin: round
}

.mapbox .maptop10 svg path:hover {
	stroke-width: 2;
	stroke: #3b5726;
}

.mapbox .mapcenterlost10 svg path:hover {
	stroke-width: 2;
	stroke: #ef6f2b;
}

.mapbox svg {
	width: 100%;
	height: 100%
}

.mapbox table {
	font-family: 'prompt-regular';
	font-size: .7rem;
}
/*.mapbox table thead {
		background-color: #6fac45;
	}*/
.tbl_top10 thead tr th {
	background-color: #6fac45;
	color: #ffffff !important;
}

.tbl_top10 > tbody > tr:nth-of-type(odd) > * {
	--bs-table-bg-type: #d5e2d0 !important;
}

.tbl_top10 :not(caption) > * > * {
	background-color: #ebf0e9;
}

.tbl_centerlost10 thead tr th {
	background-color: #ec7c30;
	color: #ffffff !important;
}

.tbl_centerlost10 > tbody > tr:nth-of-type(odd) > * {
	--bs-table-bg-type: #f8d6cd !important;
}

.tbl_centerlost10 :not(caption) > * > * {
	background-color: #faebe8;
}



.map-info {
	display: table;
	padding: 0 !important;
	width: 100%;
	max-width: 300px;
	position: relative;
	font-size: 0;
}

	.map-info li {
		display: table-cell;
		position: relative;
		vertical-align: top;
	}

		.map-info li.info {
			font-family: 'prompt-medium';
			font-size: 12px;
			color: #5077b9;
		}

			.map-info li.info span {
				display: block;
				width: 100px;
				color: #3b5726;
			}

				.map-info li.info span.text {
					font-size: 10px;
					white-space: nowrap;
				}

		.map-info li.left {
			text-align: right;
		}

		.map-info li.center {
			padding: 0 10px
		}

		.map-info li.right {
			text-align: left;
		}

		.map-info li .progress-map {
			width: 150px;
			height: 15px;
			border: 1px solid #fff;
			box-shadow: none;
			border-radius: 0;
			/*background: #efe8f4;*/ /* Old browsers */
			/*background: -moz-linear-gradient(left, #deedd4 0%, #3b5726 100%);*/ /* FF3.6-15 */
			/*background: linear-gradient(to right, #deedd4 0%,#3b5726 100%);*/ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#deedd4', endColorstr='#3b5726',GradientType=1 );*/ /* IE6-9 */
		}


.maptop10 .map-info li .progress-map {
	background: -moz-linear-gradient(left, #deedd4 0%, #3b5726 100%); /* FF3.6-15 */
	background: linear-gradient(to right, #deedd4 0%,#3b5726 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#deedd4', endColorstr='#3b5726',GradientType=1 ); /* IE6-9 */
}

.mapcenterlost10 .map-info li .progress-map {
	background: -moz-linear-gradient(left, #f1e0d1 0%, #ef6f2b 100%); /* FF3.6-15 */
	background: linear-gradient(to right, #f1e0d1 0%,#ef6f2b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e0d1', endColorstr='#ef6f2b',GradientType=1 ); /* IE6-9 */
}

.maptop10 .map-info li.info span {
	color: #3b5726;
}
.mapcenterlost10 .map-info li.info span {
	color: #e2611d;
}


div#pop-up {
	display: none;
	position: absolute;
	width: 200px;
	padding: 10px;
	background: #eee;
	color: #000;
	border: 1px solid #1a1a1a;
	font-size: 90%;
	z-index: 10000
}
