/* Begin Toggle Switch*/

/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 44px;
	height: 20px;
}

	/* Hide default HTML checkbox */
	.switch input {
		opacity: 0;
		width: 0;
		height: 0;
	}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .2s;
	transition: .2s;
}

	.slider:before {
		position: absolute;
		content: "";
		height: 16px;
		width: 16px;
		left: 2.5px;
		bottom: 1.9px;
		background-color: white;
		-webkit-transition: .2s;
		transition: .2s;
	}

input:checked + .slider {
	background-color: #00aff0;
}

input:focus + .slider {
	box-shadow: 0 0 1px #6610f2;
}

input:checked + .slider:before {
	-webkit-transform: translateX(23px);
	-ms-transform: translateX(23px);
	transform: translateX(23px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

	.slider.round:before {
		border-radius: 50%;
	}


/*End Toggle Switch*/
