@page "/return/loan"

<PageTitle>รายการส่งคืนจากกิจการสาขาภาค</PageTitle>

<div class="container-fluid">
	<div class="row">
		<div class="col-12 my-2">
			<div class="box_content">
				<div class="d-flex flex-row align-items-center mb-3 border-bottom">
					<div class="p-2"><img src="/image/icon/assign_user128x.png" width="55" /></div>
					<div class="p-2">
						<p class="back_topic">รายการส่งคืนจากกิจการสาขาภาค</p>
					</div>
				</div>
				<div class="row mt-3">
					<div class="col-12">
						<p>Content</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

@code {

}
